<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogFile" value="c:\\log.txt" />
    <add key="AesKey" value="12345678901234561234567890123456"/>
    <add key="DBServer" value="WIN-81EIJQR2T5I"/>
    <add key="DBName" value="CMBGR"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPassword" value="sa"/>
    <add key="IOCMappingFile" value="ioc.config"/>
    <add key="Expire" value="600"/>
    <add key="MailServer" value="mail.163.com"/>
    <add key="MailPort" value="857"/>
    <add key="MailUser" value="clbmgr@163.com"/>
    <add key="MailPwd" value=""/>
    <add key="MailSender" value="clbmgr@163.com"/>
    <add key="MailEnalbeSSL" value="True"/>
  </appSettings>
</configuration>