<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="CBMGR.Interface.ISecurity,CBMGR.Interface" mapTo="CBMGR.Common.Security, CBMGR.Common" />
      <register type="CBMGR.Interface.IUser,CBMGR.Interface" mapTo="CBMGR.Entity.User, CBMGR.Entity" />
      <register type="CBMGR.Interface.IDBHelper,CBMGR.Interface" mapTo="CBMGR.Common.Dbi, CBMGR.Common" />
    </container>
  </unity>
</configuration>